<head>
  <link rel="stylesheet" type="text/css" href="src\stylesheets\navbar.css">
  </head>
  <header>
    <nav class = "centred">
      <ul>
        <li> <a href="#">
          <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" class="text-white" aria-hidden="true" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path></svg>
            </a>
        </li>
        <li class = "exptext"><a href="#">Explorer's World</a></li>
        <li>
          <a href="#">
          <img src="/src/images/download.png" height="120" width = "120"> 
          </a>
        </li>
      </ul>
    </nav>
    </header>